* {
    margin:0;
    padding: 0;
    border:0;
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --branco: #F2F2F2;
    --cinzaFundo: #131426;
    --verdeclaro: #16F28B;
    --magenta: #343740;
    --vermelho: #F2295F;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: none;
    background-color: var(--cinzaFundo)
    
}

section{
    margin-top: 120px;
    display: flex;
    align-items: center;
    background-color: var(--cinzaFundo);
    justify-content: center;
}

header {
    background-color: #dfdfdf;
    color: var(--ccinzaFundo);
}


nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: var(--ccinzaFundo);
}

.logo{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

ul{
    list-style: none;
}

.login-btn{
    padding: 8px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--cinzaFundo);
    color: var(--branco);
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background: none;

}

.card-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.card-header h1{
    font-weight: 900;
    font-size: 24px;
    color: var(--branco);
}

.card-header-buttons{
    display: flex;
    justify-content: stretch;
    gap: 10px;
    padding: 4px;
}

.card-header-buttons button{
    padding: 8px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 12px;
    background-color: var(--cinzaFundo);
    color: var(--branco);
    cursor: pointer;
}

.card-header-buttons .active{
    background-color: var(--vermelho);
}

.card-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.progress-bar {
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(var(--verdeclaro) 360deg, var(--branco) 0deg);
    border-radius: 50%;
    animation: pulse 3s infinite;
    transition: all ease;
    box-shadow: rgba(21, 242, 139, 1) 0px 0px 0px 2px, 
                rgba(249, 250, 249, 0.65) 0px 4px 6px -1px, 
                rgb(255, 255, 255) 0px 1px 0px inset;
}

.progress-bar-inner {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dfdfdf;
    border-radius: 50%;
    box-shadow: rgba(247, 248, 247, 0.4) 0px 0px 0px 2px, 
                rgba(251, 252, 252, 0.65) 0px 4px 6px -1px, 
                rgb(254, 254, 253) 0px 1px 0px inset;
}

.progress-bar-inner h2 {
    color: var(--cinzaFundo);
    font-weight: 900;
    font-size: 40px;
}

.card-footer {
    display: flex;
    justify-content: stretch;
    gap: 20px;
    padding: 10px;
}

.card-footer button {
    padding: 10px 12px;
    border-radius: 20px;
    background-color: #15BF81;
    color: var(--branco);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.card-footer .btn-iniciar {
    background-color: #16F28B;
}

.card-footer .btn-parar {
    background-color: #168C61;
}

@keyframes pulse {
    0% {
        transform: scale(0.97);
        box-shadow: 0 0 0 0 rgb(22, 242, 139);
    }
    50% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(53, 172, 224, 0);
    }
    100% {
        transform: scale(0.97);
        box-shadow: 0 0 0 0 rgba(53, 172, 224, 0);
    }
}
