* {
    margin:0;
    padding: 0;
    border:0;
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --branco: #F2F2F2;
    --cinzaFundo: #131426;
    --verdeclaro: #16F28B;
    --magenta: #343740;
    --vermelho: #F2295F;
    --bard-color-brand-text-gradient-stop-1: #4285f4;
    --bard-color-brand-text-gradient-stop-1-rgb: 66, 133, 244;
    --bard-color-brand-text-gradient-stop-2: #9b72cb;
    --bard-color-brand-text-gradient-stop-2-rgb: 155, 114, 203;
    --bard-color-brand-text-gradient-stop-3: #d96570;
    --bard-color-brand-text-gradient-stop-3-rgb: 217, 101, 112;
    --bard-color-surface: #131314;

    --hover-violet:  rgba(100, 148, 237, 0.205);
    --color-violet: rgba(100, 148, 237, 1);
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: none;
    background-color: var(--cinzaFundo);
}

section{
    margin-top: 120px;
    display: flex;
    align-items: center;
    background-color: var(--cinzaFundo);
    justify-content: center;
}

header {
    /* background-color: #dfdfdf; */
    color: var(--ccinzaFundo);
    padding: 8px;
}


nav{
    max-width: 790px;
    margin: auto;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: aliceblue;
    border-radius: 16px;
}

nav a{
    color: var(--ccinzaFundo);
}

.logo{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    cursor: pointer;
    background: linear-gradient(74deg, var(--bard-color-brand-text-gradient-stop-1) 0, var(--bard-color-brand-text-gradient-stop-2) 9%, var(--bard-color-brand-text-gradient-stop-3) 20%, var(--bard-color-brand-text-gradient-stop-3) 24%, var(--bard-color-brand-text-gradient-stop-2) 35%, var(--bard-color-brand-text-gradient-stop-1) 44%, var(--bard-color-brand-text-gradient-stop-2) 50%, var(--bard-color-brand-text-gradient-stop-3) 56%, var(--bard-color-surface) 75%, var(--bard-color-surface) 100%);
    background-size: 400% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: aliceblue;
    color: #353535;
    padding: 8px;
    border-radius: 16px;
}

.menu-item a{
    display: flex;
    flex-direction: column;
    gap: .1rem;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    transition: all .4s ease-in-out;
    cursor: pointer;
    padding: 4px 8px;
}

.menu-active{
    color:rgba(100, 148, 237, 1);
    background-color: rgba(100, 148, 237, 0.205);
    border-radius: 10px;
}

.menu-item a:hover{
    color:rgba(100, 148, 237, 1);
    background-color: rgba(100, 148, 237, 0.205);
    border-radius: 10px;
}

.menu-item a i{
    font-size: 1.2rem;
}

ul{
    list-style: none;
}

.login-btn{
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--cinzaFundo);
    color: var(--branco);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.login-btn:hover{
    opacity: .7;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    max-width: 790px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background: none;
}

.card-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.card-header h1{
    font-weight: 900;
    font-size: 24px;
    color: var(--branco);
}

.card-header-buttons{
    display: flex;
    justify-content: center;
    padding: 4px;
    width: 100%;
    border-radius: 12px;
    gap: 12px;
    background-color: aliceblue;
}

.card-header-buttons button{
    padding: 8px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
}

.card-header-buttons .active{
    background-color: var(--vermelho);
    color:rgba(100, 148, 237, 1);
    background-color: rgba(100, 148, 237, 0.205);
    border-radius: 10px;
}

.card-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.progress-bar {
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: conic-gradient(var(--verdeclaro) 360deg, var(--branco) 0deg); */
    border-radius: 50%;
    animation: pulse 3s infinite;
    transition: all ease;
    box-shadow: rgb(254, 255, 255) 0px 0px 0px 2px, 
                rgba(249, 250, 249, 0.65) 0px 4px 6px -1px, 
                rgb(255, 255, 255) 0px 1px 0px inset;
}

.progress-bar-inner {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: aliceblue;
    border-radius: 50%;
    box-shadow: rgba(247, 248, 247, 0.4) 0px 0px 0px 2px, 
                rgba(251, 252, 252, 0.65) 0px 4px 6px -1px, 
                rgb(254, 254, 253) 0px 1px 0px inset;
}

.progress-bar-inner h2 {
    color: var(--cinzaFundo);
    font-weight: 900;
    font-size: 40px;
}

.card-footer {
    display: flex;
    justify-content: stretch;
    gap: 20px;
    padding: 10px;
}

.card-footer button {
    padding: 10px 28px;
    border-radius: 8px;
    /* color: var(--branco); */
    background-color: aliceblue;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

/* .card-footer .btn-iniciar {
    background-color: #16F28B;
}

.card-footer .btn-parar {
    background-color: #168C61;
} */

@keyframes pulse {
    0% {
        transform: scale(0.97);
        box-shadow: 0 0 0 0 rgba(100, 148, 237, 1);
        
    }
    50% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(53, 172, 224, 0);
    }
    100% {
        transform: scale(0.97);
        box-shadow: 0 0 0 0 rgba(53, 172, 224, 0);
    }
}
