
.tasks-filter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.select-field{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding: 4px;
    outline: none;
    border-collapse: collapse;
}

.tasks-container{
    margin-top: 20px;

    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: start;
}

.notation-card{
    width: 230px;
    min-height: 100px;
    border-radius: 12px;
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .4s ease-in-out;
    position: relative;

    animation: fadeIn .4s ease-in-out;
}

.notation-card-title{
    font-size: 1rem;
    width: 100%;
    font-weight: bold;
    padding: 8px;

    border-radius: 12px 12px 20px 0px;
    background-color:var(--hover-violet);
    z-index: 1;
    color: var(--color-violet);
}

.notation-card-title::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background-color: var(--hover-violet);
    left:0;
    top: 35px;
    z-index: 0;
}


.notation-card-content{
    font-size: 1rem;
    width: 100%;
    flex: 1;
    color:rgb(121, 120, 120);
    font-size: .95em;
    line-height: .95em;
    z-index: 99999;
    background-color: aliceblue;
    border-radius: 20px 0 0 0;
    padding: 16px 8px;
}

.notation-card-footer{
    font-size: 1rem;
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.notation-card-footer-statistic{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px;
    border-radius: 8px;
    background-color: var(--hover-violet);
    color: var(--color-violet);
}

.notation-card-footer-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 4px;
    border-radius: 8px;
    background-color: var(--hover-violet);
    color: var(--color-violet);
    cursor: pointer;
    transition: all .4s ease-in-out;
}


.notation-card-footer-btn:hover{
    opacity: .7;
}