* {
    margin:0;
    padding: 0;
    border:0;
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --branco: #F2F2F2;
    --cinzaFundo: #131426;
    --verdeclaro: #16F28B;
    --magenta: #343740;
    --vermelho: #F2295F;    
    --bard-color-brand-text-gradient-stop-1: #4285f4;
    --bard-color-brand-text-gradient-stop-1-rgb: 66, 133, 244;
    --bard-color-brand-text-gradient-stop-2: #9b72cb;
    --bard-color-brand-text-gradient-stop-2-rgb: 155, 114, 203;
    --bard-color-brand-text-gradient-stop-3: #d96570;
    --bard-color-brand-text-gradient-stop-3-rgb: 217, 101, 112;
    --bard-color-surface: #131314;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: none;
    background-color: var(--cinzaFundo);
}

header {
    /* background-color: #dfdfdf; */
    color: var(--ccinzaFundo);
    padding: 8px;
}


nav{
    max-width: 790px;
    margin: auto;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: aliceblue;
    border-radius: 16px;
}

nav a{
    color: var(--ccinzaFundo);
}

.logo{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    cursor: pointer;
    background: linear-gradient(74deg, var(--bard-color-brand-text-gradient-stop-1) 0, var(--bard-color-brand-text-gradient-stop-2) 9%, var(--bard-color-brand-text-gradient-stop-3) 20%, var(--bard-color-brand-text-gradient-stop-3) 24%, var(--bard-color-brand-text-gradient-stop-2) 35%, var(--bard-color-brand-text-gradient-stop-1) 44%, var(--bard-color-brand-text-gradient-stop-2) 50%, var(--bard-color-brand-text-gradient-stop-3) 56%, var(--bard-color-surface) 75%, var(--bard-color-surface) 100%);
    background-size: 400% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: aliceblue;
    color: #353535;
    padding: 8px;
    border-radius: 16px;
}

.menu-item a{
    display: flex;
    flex-direction: column;
    gap: .1rem;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    transition: all .4s ease-in-out;
    cursor: pointer;
    padding: 4px 8px;
}

.menu-active{
    color:rgba(100, 148, 237, 1);
    background-color: rgba(100, 148, 237, 0.205);
    border-radius: 10px;
}

.menu-item a:hover{
    color:rgba(100, 148, 237, 1);
    background-color: rgba(100, 148, 237, 0.205);
    border-radius: 10px;
}

.menu-item a i{
    font-size: 1.2rem;
}

ul{
    list-style: none;
}

.login-btn{
    padding: 8px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--cinzaFundo);
    color: var(--branco);
    cursor: pointer;
}

main{
    max-width: 790px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    margin: 10px auto;
    height: 85vh;
    display: flex;
    align-items: auto;
    /* background-color: var(--cinzaFundo); */
    justify-content: center;
    color: var(--branco);
}

main a{
    color: var(--verdeclaro);
}

#login{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 32px;
}

.name input{
    border-radius: 20px;
    border: none;
    width: 350px;
    height: 40px;
    padding-left: 15px;
    background-color: var(--branco);
    color: var(--cinzaFundo);
    margin-top: 20px;
}


.email input{
    border-radius: 20px;
    border: none;
    width: 350px;
    height: 40px;
    padding-left: 15px;
    background-color: var(--branco);
    color: var(--cinzaFundo);
    margin-top: 20px;
}

.telefone input{
    border-radius: 20px;
    border: none;
    width: 350px;
    height: 40px;
    padding-left: 15px;
    background-color: var(--branco);
    color: var(--cinzaFundo);
    margin-top: 20px;
}


.senha input{
    border-radius: 20px;
    border: none;
    width: 350px;
    height: 40px;
    padding-left: 15px;
    background-color: var(--branco);
    color: var(--cinzaFundo);
    margin-top: 20px;
}

.fa-eye{
    position: absolute;
    color: var(--vermelho);
    margin-top: 31px;
    margin-left: 315px;
    cursor: pointer;
}

.entrar input{
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: var(--vermelho);
    color: var(--branco);
    margin-top: 15px;
}

p{
    margin-top: 20px;
}

input::placeholder{
    color: var(--magenta);
}

input:focus{
    outline: none;
}

#msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
    display: none;
}

#msgSuccess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
    display: none;
}